/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
/*========== Variables for dark/light mode ==========*/
:root {
  --title-color: #393939;
  --text-color: #707070;
  --body-color: #fbfefd;
  --header-color: #f0f0f0;
  --container-color: #fff;
  --footer-color: #afafaf;
  --accordion-color: #e2fde8;
}

/*=============== BASE ===============*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #181e1b;
  --header-color: #18231d;
  --container-color: #1f2823;
  --footer-color: #101412;
  --accordion-color: #27381f;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}
.section-title, .section-subtitle {
  text-align: center;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 1.5rem;
  line-height: 2.3rem;
}
.section-subtitle {
  display: block;
  color: #16983f;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== NAVIGATION ===============*/
.header {
  font-size: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 20;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.nav {
  max-width: 1024px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #16983f;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.nav__logo-name {
  font-weight: 600;
}
.nav__icon {
  width: 1.2rem;
}
.nav__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  margin-bottom: 1rem;
}
.nav__link, .nav__toggle {
  color: var(--text-color);
  font-weight: 500;
}
.nav__link {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav__link:hover {
  color: #16983f;
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav__toggle:hover {
  color: #16983f;
}
.nav__close {
  display: none;
}

/* Show menu */
.show-menu {
  top: 3rem;
}

/* Active link */
.active-link {
  color: #16983f;
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #16983f;
  border-radius: 50%;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: #16983f;
  color: #fff;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: #0d5925;
  color: #fff;
}

/*---------- Button Dark/Light ----------*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.change-theme:hover {
  color: #16983f;
}

/*=============== HOME ===============*/
.home__bg {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
.home__bg::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.home__container {
  gap: 2.5rem;
}
.home__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  margin-top: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
.home__logo::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  width: 40%;
  height: 2px;
  background-color: #16983f;
}
.home__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
  z-index: 10;
}
.home__icon {
  width: 2rem;
}
.home__title {
  display: inline;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1rem;
  color: #16983f;
}
.home__title:hover {
  cursor: default;
}
.home__subtitle {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  color: #fbfefd;
  text-align: center;
}
.home__button {
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 1rem;
}

/*=============== MENU ===============*/
.menu__container {
  grid-template-columns: minmax(auto, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
          box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
  overflow: hidden;
}
.menu__content:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.menu__content:hover .menu__button {
  right: 0;
}
.menu__content:hover .menu__price-discount {
  font-weight: 600;
  color: #16983f;
}
.menu__icon {
  width: 25px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.menu__img {
  width: 140px;
  height: 140px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 1rem;
}
.menu__name, .menu__price {
  font-weight: 600;
  color: var(--title-color);
}
.menu__name {
  font-size: 0.938rem;
  text-align: center;
}
.menu__detail {
  font-size: 0.813rem;
  text-align: center;
  line-height: 0.7rem;
  margin-bottom: 1.5rem;
}
.menu__price-discount {
  font-weight: 600;
  color: #16983f;
}
.menu__price-old {
  font-size: 0.6rem;
  font-weight: normal;
  color: var(--title-color);
  text-decoration: line-through;
}
.menu__currency {
  font-size: 0.75rem;
}
.menu__button {
  position: absolute;
  bottom: 0;
  right: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem 0.813rem;
  border-radius: 0.5rem 0;
}

/*=============== ABOUT ===============*/
.about__data {
  text-align: center;
}
.about__decription {
  margin-bottom: 2rem;
}
.about__list-header {
  position: relative;
  max-width: 380px;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: 600;
  color: var(--title-color);
  background-color: var(--accordion-color);
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about__list-arrow {
  display: block;
  font-size: 3rem;
  margin-top: 1rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.about__list-arrow:hover {
  cursor: pointer;
  color: #0d5925;
}
.about__list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  max-width: 380px;
  margin: 0 auto;
  padding: 0 0.5rem;
  color: var(--title-color);
  overflow: hidden;
  height: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about__list-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.about__img {
  min-width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/*===== ABOUT ACCORDION =====*/
.accordion-open .about__list-header, .accordion-open .about__list-content {
  background-color: #16983f;
}
.accordion-open .about__list-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*=============== SERVICES ===============*/
.services__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 3.5rem;
  padding-top: 3.5rem;
}
.services__content {
  text-align: center;
}
.services__icon {
  display: block;
  font-size: 5rem;
  height: 5rem;
  color: #16983f;
}
.services__icon:before {
  position: absolute;
  text-align: center;
}
.services__img {
  width: 8rem;
  height: 5rem;
  padding-right: 1rem;
}
.services__img-truck {
  width: 10rem;
}
.services__title {
  font-size: 1.25rem;
  color: var(--title-color);
  margin: 0.5rem 0;
}
.services__description {
  padding: 1rem 1rem 0;
}

/*=============== APP ===============*/
.app__data {
  text-align: center;
}
.app__description {
  margin-bottom: 2.5rem;
}
.app__stores {
  display: grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}
.app__button {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  border-radius: 3rem;
}
.app__img {
  width: 250px;
  justify-self: center;
  fill: #16983f;
}
.app__img-blob {
  fill: #b9e0c5;
}

/*=============== CONTACT ===============*/
.contact__container {
  text-align: center;
}
.contact__description {
  margin-bottom: 1.5rem;
}
.contact__btn {
  margin-top: 0;
  border: none;
  border-radius: 0.5rem;
}

/*===== MODAL *=====*/
.modal-content {
  background-color: var(--body-color);
  color: var(--title-color);
}
.modal-description {
  margin-bottom: 1rem;
}
.modal-footer {
  padding-top: 0;
  border: none;
}
.modal-footer .button {
  margin-top: 0;
}

.modal-close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.modal-close:hover {
  color: #16983f;
}

.form__input {
  background-color: var(--accordion-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}
.form__send {
  border: none;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--footer-color);
}
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
}
.footer__content {
  font-style: normal;
}
.footer__icon {
  color: #16983f;
  width: 1.25rem;
}
.footer__logo {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3rem;
     -moz-column-gap: 0.3rem;
          column-gap: 0.3rem;
  color: #16983f;
  font-weight: 600;
}
.footer__description {
  display: block;
  font-size: 0.813rem;
  margin: 0.25rem 0 1.5rem;
}
.footer__social {
  font-size: 1.7rem;
  color: var(--title-color);
  margin-right: 0.5rem;
  cursor: default;
}
.footer__social:hover {
  color: initial;
}
.footer__social-icon {
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.footer__social-icon:hover {
  color: #16983f;
}
.footer__title {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-bottom: 1rem;
}
.footer__link, .footer__link-map {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.footer__link:hover, .footer__link-map:hover {
  color: #16983f;
}
.footer__link-icon {
  margin-right: 0.5rem;
}
.footer__link-map {
  line-height: 1.9rem;
}
.footer__item {
  margin-bottom: 0.5rem;
}
.footer__support {
  font-size: 0.813rem;
  color: #3b3c3c;
  margin-top: 4rem;
  text-align: center;
}
.footer__support-link {
  color: #3b3c3c;
}
.footer__support-link:hover {
  color: #16983f;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0.5rem;
}
.footer__copy {
  text-align: center;
  font-size: 0.813rem;
  color: #3b3c3c;
  margin-top: 1.5rem;
}

/*=============== SCROLL UP ===============*/
.scroll__up {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  background-color: rgba(22, 152, 63, 0.8);
  border-radius: 0.4rem;
  z-index: 10;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.scroll__up:hover {
  background-color: #0d5925;
}
.scroll__up-icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scroll up*/
.show-scroll {
  bottom: 2rem;
}

/* Change background header */
.scroll-header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--header-color);
}

/*=============== MEDIA QUERIES ===============*/
/*========== For medium devices ==========*/
@media screen and (min-width: 720px) {
  .nav {
    height: 4.5rem;
  }
  .nav__menu {
    width: initial;
    padding: 0;
    position: initial;
    background-color: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
    padding-left: 9px;
  }
  .menu__container {
    margin-top: 3rem;
  }
  .menu__container {
    grid-template-columns: repeat(3, minmax(auto, 250px));
  }
  .menu__content {
    padding: 1.5rem;
  }
  .about__container,
  .app {
    margin-top: 3rem;
  }
  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about__list {
    display: none;
  }
  .app__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app__img {
    width: 350px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .contact__description {
    max-width: 400px;
    margin: 0 auto;
  }
}
/*========== For large devices ==========*/
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
  .header {
    font-size: 1.1rem;
  }
  .home__bg {
    height: 100vh;
  }
  .home__logo {
    margin-top: 13rem;
  }
  .nav__icon {
    width: 1.5rem;
  }
  .nav__logo-name {
    font-size: 1.5rem;
  }
  .change-theme {
    padding-left: 20px;
  }
  .home__icon {
    width: 2.5rem;
  }
  .home__title {
    font-size: 2.5rem;
  }
  .home__subtitle {
    font-size: 1.3rem;
  }
  .home__button {
    font-size: 1rem;
  }
  .about__container,
  .app__container {
    -webkit-column-gap: 7rem;
       -moz-column-gap: 7rem;
            column-gap: 7rem;
  }
  .footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
  .footer__container address {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .scroll__up {
    right: 2rem;
  }
  .show-scroll {
    right: 2rem;
    bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .scroll__up {
    right: 3rem;
  }
  .show-scroll {
    right: 3rem;
    bottom: 4rem;
  }
}