/*=============== THEME ===============*/
body.dark-theme {
   --title-color: #f1f3f2;
   --text-color: #c7d1cc;
   --body-color: #181e1b;
   --header-color: #18231d;
   --container-color: #1f2823;
   --footer-color: #101412;
   --accordion-color: #27381f;
}
